
  <!-- <div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <div class="modal-body">
    <div class="modal-message">
        <div class="body-message">
          <input type="text" class="form-control" id="email" name="email" placeholder="Email Address">
        </div>
    </div>
    <div class="form-row nav-confirm">
      <button type="submit" class="btn btn-confirm" (click)="ok()">{{yesLabel}}</button>
      <button type="button" class="btn btn-confirm" (click)="close()" [disabled]="isDisabled">{{noLabel}}</button>
    </div>
  </div>
  <!-- <div class="modal-footer">
    
  </div> -->

